<h2>订单列表 </h2>

<% if !@orders.blank?%>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th>生成时间</th>
      <th>总计</th>
      <th>订单状态</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
    <tr>
      <td> <%= link_to(order.id, order_path(order.token)) %> </td>
      <td> <%= order.created_at.to_s(:long) %> </td>
      <td> <%= order.total %></td>
      <td> <%= order.aasm_state%></td>
    </tr>
    <% end %>
  </tbody>
</table>
  <% else %>
    <p style="line-height: 30px;font-size: 20px;">
      您还没有订单信息，赶快去找您喜欢的商品吧~~</p>
  <% end %>
