<div class="bg1">
  <div class="row" >
    <div class="col-lg-6">
      <img class="img-circle" src="tb1.jpg"  alt="Generic placeholder image" width="140" height="140" >
      <p class="quotation">《黑天鹅》作者Nassim Nicholas Taleb</p>
    </div>
    <div class="col-lg-6">
      <img class="img-circle" src="boy.png"  alt="Generic placeholder image" width="140" height="140">
      <p class="quotation">低碳水饮食坚持者路人甲</p>
    </div>
  </div>

<div class="jumbotron row quotation-brand">
  <div class="col-lg-offset-1 col-lg-5">
    <p>早就有实证证据表明，有人通过不吃碳水化合物，但不改变其总的食物摄入量的方法减了100磅！</p>
  </div>

  <div class="col-lg-5">
    <p>
      原本只是为改善体质，治疗偏头痛而尝试低碳水化合物饮食。却意外的在6个月时间里掉了10斤体重。
    </p>
  </div>
  </div>
</div>
