<div class="container" style= "margin-bottom: 120px">

<h3>什么是低碳水化合物饮食？ </h3>
<p>(Low-carbohydrate diets或简化为Low-carb diets)是一系列通常用于控制体重或用于治疗糖尿病的限制碳水化合物摄入量的饮食方案。</p>
<p>限制含可消化类碳水化合物高的食品（例如，面包、面條）或用含蛋白和脂类百分比高的食品（例如，肉类、禽类、贝类、蛋类、奶酪、坚果、植物籽实类、或花生）以及其他低碳水化合物的食品（如，大多数拌色拉的蔬菜）进行代替。</p>
<p>低碳水化合物饮食也允许食用其他类蔬菜和水果（特别是浆果类）。不同的低碳水化合物饮食方案允许食用的碳水化合物的量不同。</p>
<p>这种饮食有时是生酮饮食（例如，限制碳水化合物的摄入量到足以到引起酮症），如阿特金斯健康饮食法的诱导项。不过，一些文献把某些限制变量较少的饮食方案也看作为“低碳水化合物”饮食方案。</p>
<p>除了治疗肥胖病以外，低碳水化合物饮食也用于治疗一些其他疾病，特别值得提出的是糖尿病。和癫痫病但也用于治疗慢性疲劳综合症（见酮症）和多囊卵巢综合症。</p>
<br>
<br>
<p><strong>更多详细描述请参考Wiki上相关条目：</strong><p>
  <ul>
 <li><a href="https://zh.wikipedia.org/wiki/低碳水化合物飲食"> [低碳水化合物饮食]</a></li>
 <li><a href="https://zh.wikipedia.org/wiki/生酮飲食"> [生酮饮食]</a></li>
 <li><a href="https://zh.wikipedia.org/wiki/阿特金斯健康饮食法"> [阿特金斯健康饮食法]</a></li>
 </ul>
<hr>

<h3>我们提倡低碳水化合物饮食吗？</h3>
<strong>我们<span style="color: #00bfff">不提倡、不反对，也不争论</span>任何形式的饮食结构。饮食结构的选择是个人行为，我们只是面对低碳水化合物食物这一饮食倾向提供服务。</strong>




</div>
<p class="text-center">如果您有任何疑问或者建议，请联系我们：<br>
  @Caven or @TinkleJane<br>
</p>
