<style>
body {
    text-align: center;
}
</style>

<div class="row">
  <%= render "products/search_bar" %>
</div>

<div class="landing-cover">
	<%= image_tag "A3.jpg", height: '100%', width: '100%'%>
  <%= link_to surprise_products_path, method: :get do %>
    <div class="fa fa-american-sign-language-interpreting" role="button">
      Suprise for you
    </div>
  <% end %>
</div>
<!--              第一行食品位置            -->
<%= render "body"%>
<br>
