
.clearfix {
	display: block;
}

.header-wrap {
    color: #fff;
    background: #4c394e;
    position: relative;
    z-index: 10
}

.header-wrap a {
    color: #fff;
    text-decoration: none
}

.header-wrap a:hover,.header-wrap a:active,.header-wrap a:visited {
    color: #fff
}

.primary-wrap {
    padding: 1.5rem;
    -js-display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

// .container-fluid,.secondary-header,.user-nav,.header-wrap .header,.content-wrap,.footer-wrap .footer {
//     max-width: 1440px
// }

.primary-wrap .brand-link {
    display: block;
    width: 15.4rem;
    max-width: 100%
}

.primary-wrap .search-wrap {
    width: 80%;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.primary-wrap .search-wrap form {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1
}

@media all and (max-width: 1023px) {
    .primary-wrap .search-wrap .header-search-btn {
        display:block;
        line-height: 3.5rem;
        height: 3.5rem;
        padding: 0 1.2rem;
        border: 0;
        margin: 0;
        min-width: 0;
        position: absolute;
        right: .5rem;
        top: .5rem;
        bottom: .5rem
    }

    .primary-wrap .search-wrap .header-search-btn:before {
        float: none;
        content: "🔍"
    }

    .primary-wrap .search-wrap .header-search-btn i:before {
        margin-right: 1rem;
        font-size: 1.4em;
        line-height: 0;
        position: relative;
        top: 0.22em
    }

    .primary-wrap .search-wrap .header-search-btn .text {
        display: none
    }

    .primary-wrap .search-wrap .header-search-el-wrap {
        margin-right: 1rem
    }

    .primary-wrap .search-wrap .header-search-el-wrap:before {
        display: none
    }

    .primary-wrap .search-wrap .header-search-el-wrap .text-input {
        padding-left: 1rem;
        padding-right: 5rem
    }
}

@media all and (max-width: 667px) {
    .primary-wrap .search-wrap {
        -webkit-flex-grow:2;
        -ms-flex-positive: 2;
        flex-grow: 2;
        min-width: 100%
    }

    .primary-wrap .search-wrap .advanced-search {
        display: none
    }

    .primary-wrap .search-wrap .header-search-el-wrap {
        margin-right: 0
    }
}

.fa-american-sign-language-interpreting {
	float:right;
	color: #f5f5f5;
	padding:10px;
	background: #52c722;
	font-size:2rem;
}


.foodbox1 {
    padding-bottom: 20px;
    padding-top: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(253, 253, 253);

}

.textwhite {
            color: white;
}

.center {
    margin: auto;
    width: 80%;
    padding: 10px;
}

.hot {
      margin-top: 20px;
      margin-bottom: 20px;
}

.bg1{
     background-image: url("/bg2.jpg");
     padding-top: 80px;
     background-repeat: no-repeat;
     background-position: center;
}

.bg2{
     background-image: url("/bg6.png")

}

.bg3{
     background-image: url("/cart1.jpg")
}

.item-img{
  position: relative;
}

.landing-cover {
  margin-left: -20px;
  margin-right: -20px;
  display: block;
}

.carbolevel {
  color: grey;
}

.btn-wrap {
  margin-bottom: 20px;
}

.quotation {
  margin-top: 12px;
  color: white;
  font-size: 1.3em;
}

.quotation-brand {
  margin-left: -20px;
  margin-right: -20px;
  margin-top: 20px;
  height: 150px;
  opacity: 0.5;
}

.cate-brand {
  height: 70px;
  margin-top: -40px;
  margin-left: -20px;
  margin-right: -20px;
}


// nav
.user-nav-wrap {
  color: #fff;
  background: #403042;
}

.user-nav{
  max-width: 1600px;
}


.user-nav .left-nav, .user-nav, .right-nav{
  display: -webkit-flex;
}

.user-nav .left-nav,.user-nav .right-nav {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0
}

.user-nav .left-nav{
  padding-left: 1.5rem;
}

.user-nav .right-nav{
  padding-right: 1rem;
}

.user-nav .left-nav li, .user-nav .right-nav li{
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}

.user-nav .left-nav a, .user-nav .rigth-nav a{
  padding: 0 1rem;
}

@media all and (min-width: 1024px) {
    .user-nav .left-nav a,.user-nav .right-nav a {
        color:rgba(255,255,255,0.8);
        transition: all .3s
    }
}

#hiuser, .user-nav .left-nav a, .user-nav .left-nav span, .user-nav .right-nav a, .user-nav .right-nav span{
  display: block;
  line-height: 4.4rem;
  height: 4.4rem;
  padding: 0 1.7rem;
  border: 0;
  margin: 0;


  font-size: 1.4rem;
}

.user-nav .left-nav .home-icon-link i:before, .user-nav .left-nav .home-icon-link:before, .user-nav .left-nav .home-icon-link i:after, .user-nav .left-nav .home-icon-link:after{
  margin: 0;
}

.user-nav-wrap a{
  text-decoration: none;
}

.user-nav .left-nav a i:before,.user-nav .left-nav span i:before,.user-nav .right-nav a i:before,.user-nav .right-nav span i:before {
    margin-right: 1rem;
    font-size: 1.5em;
    line-height: 0;
    position: relative;
    top: 0.22em
}

.user-nav .left-nav a, .user-nav .right-nav a{
  padding: 0 1rem;
}
