
<footer class="footer-wrap" style="margin-top: 100px;height: 150px">
    <p class="text-center">Copyright ©2017 Carbolowdrate<br>
        <br>Design by
        <br>Caven & TinkleJane
    </p>

</footer>
