
	<footer class="footer-wrap row " style="height: 450px">
    <div class="block " style="margin-left: -20px; margin-right: -20px; margin-bottom: 20px; margin-top: -18px; opacity: 0.5;">
                <a href="/"><img src="http://r.photo.store.qq.com/psb?/V11HDhVk157QRj/ggVjf4B2o*1YCjd5N3svKKcIIoAcsGVD*8BpFyF7xN8!/r/dGgBAAAAAAAA", height= "100%", width= "100%"></a>
    </div>
		<div class="footer-left-content hide-on-mobile col-md-3">
			<section class="footer-links">
				<h4>How can we help?</h4>
				<ul>
					<li><a rel="nofollow" href="/help">Help</a></li>
					<li><a href="/contactus">Contact us</a></li>
					<li><a rel="nofollow" href="/help/topic/HelpId/2/When-will-my-order-arrive#helpContent">Where's my stuff?</a></li>
					<li><a rel="nofollow" href="/help/topic/HelpId/3/Which-countries-do-you-deliver-to#helpContent">Where do you deliver?</a></li>
				</ul>
			</section>
		</div>




    <div class="footer-left-content hide-on-mobile col-md-3">
      <section class="footer-links">
        <h4>How can we help?</h4>
        <ul>
          <li><a rel="nofollow" href="/help">Help</a></li>
          <li><a href="/contactus">Contact us</a></li>
          <li><a rel="nofollow" href="/help/topic/HelpId/2/When-will-my-order-arrive#helpContent">Where's my stuff?</a></li>
          <li><a rel="nofollow" href="/help/topic/HelpId/3/Which-countries-do-you-deliver-to#helpContent">Where do you deliver?</a></li>
        </ul>
      </section>
    </div>

		<div class="footer-right-content col-lg-6">
			<div class="payment-methods">
				<p>We accept these payment methods</p>
				<img src="https://d3ogvdx946i4sr.cloudfront.net/assets/v2.3.25/img/payment-options.png" alt="Payment methods" class="method-img">
			</div>
			<div class="small-print">
				<i class="icon-bd"></i>
				<div id="copyright" class="text" title="BdiMetadata{webserver='tirana', requestTime='5.18 sec', userSessionCurrencyCode='JPY', userSessionCountry='JP', userIp='45.41.135.18', cacheParams=BdiCacheMetadata{cacheCountry='JP', cacheCurrency='JPY', controllerName='index', actionName='index', moduleName='default', serverScheme='https', cacheNamespace='homepage', cacheKey='index', generatedOn=Sun Mar 05 10:51:30 UTC 2017, cacheEnabled=true}}">
					© 2017 The Book Depository Ltd.<br>
					UK. Registered company number: 5124926
				</div>
			</div>
		</div>
	</footer>
