
	<footer class="footer-wrap col-lg-12" style="height: 10%">
    <div class="block " style="margin-right: -15px; margin-left: -15px; margin-bottom: 20px; margin-top: -30px; opacity: 0.5;">
                <%= image_tag "keyboard.jpg", height: "100%", width: "110%"%>
    </div>
		<div class="footer-left-content hide-on-mobile col-md-3">
			<section class="footer-links">
				<h4>服务保障</h4>
				<ul style="list-style-type: none">
					<li><a rel="nofollow" href="/help">全场包邮</a></li>
					<li><a href="/contactus">客服热线</a></li>
					<li><a rel="nofollow" href="/help/topic/HelpId/2/When-will-my-order-arrive#helpContent">廉政举报</a></li>
					<li><a rel="nofollow" href="/help/topic/HelpId/3/Which-countries-do-you-deliver-to#helpContent">我要投诉</a></li>
				</ul>
			</section>
		</div>

    <div class="footer-left-content hide-on-mobile col-md-3">
      <section class="footer-links">
        <h4>关于Carbolowdrate</h4>
        <ul style="list-style-type: none">
          <li><a rel="nofollow" href="/help">帮助中心</a></li>
          <li><a href="/contactus">联系我们</a></li>
          <li><a rel="nofollow" href="/help/topic/HelpId/2/When-will-my-order-arrive#helpContent">规则通知</a></li>
          <li><a rel="nofollow" href="/help/topic/HelpId/3/Which-countries-do-you-deliver-to#helpContent">法律声名</a></li>
        </ul>
      </section>
    </div>

		<div class="footer-right-content col-lg-6">
			<div class="payment-methods">
				<p>We accept these payment methods</p>
				<img src="https://d3ogvdx946i4sr.cloudfront.net/assets/v2.3.25/img/payment-options.png" alt="Payment methods" class="method-img">
			</div>
			<div class="small-print">
				<i class="icon-bd"></i>
				<div id="copyright" class="text" title="BdiMetadata{webserver='tirana', requestTime='5.18 sec', userSessionCurrencyCode='JPY', userSessionCountry='JP', userIp='45.41.135.18', cacheParams=BdiCacheMetadata{cacheCountry='JP', cacheCurrency='JPY', controllerName='index', actionName='index', moduleName='default', serverScheme='https', cacheNamespace='homepage', cacheKey='index', generatedOn=Sun Mar 05 10:51:30 UTC 2017, cacheEnabled=true}}">
					© 2017 Carbolowdrate.<br>
				</div>
			</div>
		</div>
	</footer>
